html
    head
        title= title 
    body
        h1= message
        form(method="post" action= "/user")
            p= pusername
            input(type="text" name="username" id="username")
            p
            button(type="submit" name="submit") Enter